<%- contentFor('body') %>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 offset-md-3 mt-5">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#" class="active" id="form-login-change">Login</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#" id="form-register-change">Register</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form id="form-login" action="" method="post">
                                <div class="form-group">
                                    <h4>Login</h4>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username:">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password:">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                            <form id="form-register" action="/users" method="post" style="display: none;">
                                <div class="form-group">
                                    <h4>Register</h4>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username:">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-mail:">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password:">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>