<%- contentFor('body') %>
<div class="row mt-5">
    <aside class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="card-header">
                Ask a question
            </div>
            <div class="card-body">
                <form action="/answers" method="post">
                    <div class="form-group">
                        <textarea name="question" id="question" cols="30" rows="5" class="form-control" placeholder="Ask your question here..."></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="switch"> 
                                <input type="checkbox" name="is_annon" id="is_annon" />
                                <label for="is_annon"></label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <button type="submit" class="btn btn-secondary">Ask!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                People
            </div>
            <div class="card-body">
                <div class="profile row mt-2">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="https://api.adorable.io/avatars/150/dasda.png" class="img-fluid img-profile" alt="">                    
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-2 name-info">
                        <a href="" class="">Leonan Luppi</a>                    
                    </div>
                </div>        
                <div class="profile row mt-2">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="https://api.adorable.io/avatars/150/dasda.png" class="img-fluid img-profile" alt="">                    
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-2 name-info">
                        <a href="" class="">Leonan Luppi</a>                    
                    </div>
                </div>    
                <div class="profile row mt-2">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="https://api.adorable.io/avatars/150/dasda.png" class="img-fluid img-profile" alt="">                    
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-2 name-info">
                        <a href="" class="">Leonan Luppi</a>                    
                    </div>
                </div>                                     
            </div>
        </div>
    </aside>
    <section class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <div class="row mt-2 question-box">
            <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-body">
                    <div class="profile row">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                            <img src="https://api.adorable.io/avatars/150/dasda.png" class="img-fluid img-profile" alt="">                    
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 mt-2 name-info">
                            <a href="" class="">Leonan Luppi</a>                    
                        </div>
                    </div>
                    <blockquote class="blockquote">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing?
                        </p>
                        <div class="blockquote-footer ml-2">
                            Lorem Ipsum is simply dummy text of the printinh.
                        </div>
                    </blockquote>
                </div>
            </div>        
        </div>
        <div class="row mt-2 question-box">
            <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-body">
                    <div class="profile row">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                            <img src="https://api.adorable.io/avatars/150/dasda.png" class="img-fluid img-profile" alt="">                    
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 mt-2 name-info">
                            <a href="" class="">Leonan Luppi</a>                    
                        </div>
                    </div>
                    <blockquote class="blockquote">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing?
                        </p>
                        <div class="blockquote-footer ml-2">
                            Lorem Ipsum is simply dummy text of the printinh.
                        </div>
                    </blockquote>
                </div>
            </div>        
        </div>
        <div class="row mt-2 question-box">
            <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-body">
                    <div class="profile row">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                            <img src="https://api.adorable.io/avatars/150/dasda.png" class="img-fluid img-profile" alt="">                    
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 mt-2 name-info">
                            <a href="" class="">Leonan Luppi</a>                    
                        </div>
                    </div>
                    <blockquote class="blockquote">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing?
                        </p>
                        <div class="blockquote-footer ml-2">
                            Lorem Ipsum is simply dummy text of the printinh.
                        </div>
                    </blockquote>
                </div>
            </div>        
        </div>                
    </section>
</div>
