body {
    background: #F1F1F1;
}

.img-profile {
    width: 65%;
}

@media(min-width: 992px) {
    .profile .name-info {
        left: -2em;
    }
}
.question-box:first-child {
    margin-top: 0 !important;
}
.question-box:last-child {
    margin-bottom: 1em;
}

.switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
.switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    max-width: 70px;
    height: 30px;
    background: #d1d1d1;
    display: block;
    border-radius: 100px;
    position: relative;
}
.switch label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
.switch input:checked + label, .switch input:checked + input + label {
    background: #3e98d3;
}
.switch input + label:before, .switch input + input + label:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 35px;
    width: 26px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}
 .switch input:checked + label:before, .switch input:checked + input + label:before {
    content: 'Anon';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
    font-size: 0.8em;
}
.switch input:checked + label:after, .switch input:checked + input + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
.switch label:active:after {
    width: 60px;
}